header{
    padding: 0 5% 0 5%;
    background-color:$back_header;
    color: white;
    font-size: 1vw;
    width: 100%;
    .arrow_header{
      width:1vw;
  
    }
    .menu{
        padding-top: 1%;
          @media (max-width:767px){
          nav{
            display: none;
          }
          .live{
            display: none;
          }
      }
        ul{
            margin-top: 1%;
        }
    }
    .logo_div{
        background-color:#3963FF;
        border-radius:0 0 1vh 1vh;
       .logo{
         padding:10% 10% 20% 10% ;
         width: 5vw;
         height: 6vw;
       }
    }
    .number{
         margin-top: 1.5%;
         margin-bottom: 1.5%;
    }
    .live{
        margin-top:1%;
        display: flex; 
        justify-content: center;
        align-items: center;
        padding:1% 0%;
        border-radius: 0.5vw;
        color:#FF4444;
        background-color:grey;
        width: 5vw;
        height: 3vh;
        p{
            font-size: 1vw;
        }
        img{
            width: 1vw;
            height: 2vh;
        }
    }
       .blur{
    width: 20vw;
    height: 30vw;
    bottom:-220%;
    right: 90%;
    background-color: #3963FF;
    filter:blur(15vh) ;
   }
  
}

