.info_section{
    margin-top: 3%;
    padding-top: 10%;
    h2{
        text-align: center;
    }
    background-color:white;
    h2{
        font-size: 4vw;
    }
    img{
        width: 6vw;
    }
    h3{
        font-size: 2vw;
    }
    p{
        font-size: 1vw;
    }
    .wrapper_info{
        padding: 5%;
    }
}